/* code-order{
    Positioning
    Box-model
    Typography
    Visual
    Misc
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}


body{
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 4rem;
    gap: 1rem;

    /* Typography */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;

    /* Visual */
    background: linear-gradient(to bottom,
                 rgb(63, 226, 244) 0%,
                 rgb(34, 132, 143) 100%);
}


a{
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;    

    color: white;
}

a:hover{
    transition: .5s;
    color: black;
}

button{
    width: 8rem;
    height: 2rem;

    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(207, 207, 205);
    transition: 0.5s;
}


input{
    height: 3rem;
    width: 50%;
    padding: 0 3rem;

    border: 0;
    border-radius: 4px;
}


.output{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.box{
    width: 200px;
    padding: 1rem;

    border-radius: 10px;
    color: rgb(227, 227, 227);

    overflow: hidden;
}

.box:hover{
    transition: 1s;
    box-shadow: 10px 12px 8px 0px rgba(0,0,0,0.41);

    overflow: hidden;
}


.box img{
    width: 100%;
}

.paginator{
    position: absolute;
    bottom: 10rem;
  
    display: flex;
    gap: 2rem;
}